.input{
	width:300px; 
}

.input:focus{
	border-bottom-color:blue;
}
.background{
	background-image: url('background3.jpg');

	/* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}