a:hover{
	text-decoration: none;
	color:black;
}

a{
	color:black;
}

.MuiToolbar-root{
	padding-left:0px !important;
	padding-right:0px !important;
}
.MuiAppBar-colorPrimary{
	background-color:#2e25d7 !important;
}

.dropdown{
	background-color:'transparent' !important;
}

/*.input:hover{
	width:300 !important;
}*/